<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>Welcome to your new Fairytale site.</title>
  </head>
  <body>
    <%= yield %>
    <p>This view is ./views/layout.erb and stores the site layout in simple ERB.</p>
  </body>
</html>
